* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: teal;
    display: flex;
    justify-content: space-between;
}

.logo2,
.logo1 {
    padding: 10px;
}

.number {
    background-color: white;
    color: black;
    border: 5px solid white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.navbar {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: sticky;
    top: 0;
}

.img1,
.img2 {
    width: 80px;
    height: 80px;
}

a {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.img3 {
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

.box {
    border: 2px solid teal;
    border-radius: 10px;
    padding: 5px;
}

.container {
    height: 150vh;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

.Title {
    font-size: 1.5rem;
    color: teal;
    text-align: center;
}

.text1 {
    font-size: 1.3rem;
    text-align: center;
}

footer {
    background-color: teal;
    padding: 10px 0;
    color: white;
    flex-direction: column;
    justify-content: space-between
}

.text2 {
    font-size: 1.4rem;
    text-align: center;
}

.logo3 {
    padding: 10px;
    width: 50px;
    height: 50px;
    background-color: teal;
    border-radius: 50%;
}

.up {
    position: fixed;
    right: 5px;
    bottom: 40px;

}